* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form {
  height: 100vh;
}
.container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(171, 226, 247);
  padding: 40px;
  border-radius: 20px;
}
.h2 {
  text-align: center;
}
.img {
  height: 100px;
  width: 100px;
  position: relative;
  top: 20px;
  left: 80px;
  border-radius: 50%;
  border: 1px solid rgb(186, 186, 186);
  background-color: aliceblue;
  cursor: pointer;
  margin-bottom: 40px;
}
.label {
  margin-top: 5px;
  margin-left: 25px;
}
.input {
  height: 27px;
  width: 80%;
  outline: none;
  border: none;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  margin-left: 20px;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 25%;
  }
}
