* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.back {
  position: relative;
  left: 20px;
  top: 50px;
  border: 1px solid black;
  cursor: pointer;
  z-index: 1;
}
.formback {
  position: relative;
  top: -30px;
  left: -30px;
  cursor: pointer;
  color: white;
  border: 1px solid rgb(255, 255, 255);
}
.mesh2 {
  text-align: center;
}
.form {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  padding: 50px;
  background-color: #a1a1aa;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.h3 {
  margin-bottom: 20px;
  text-align: center;
}
.message {
  position: fixed;
  background-color: #a1a1aa;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 30px 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-top-right-radius: 70px;
  border-bottom-left-radius: 70px;
}
.mesb {
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 10px 5px 10px 5px;
  width: 200px;
  font-weight: bold;
  cursor: pointer;
}
#mesb1 {
  color: red;
}
#mesb2 {
  color: rgb(0, 255, 0);
}
#mesb1:hover {
  color: white;
  background-color: red;
}
#mesb2:hover {
  color: white;
  background-color: rgb(17, 255, 0);
}
.whole {
  position: relative;
  min-height: 100vh;
  height: auto;
  padding: 50px;
  display: flex;
  flex-direction: column;
  top: -10px;
}
.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 70px;
  width: 80%;
  height: 20px;
  left: 10%;
  border: none;
  border-radius: 30px;
  background-color: #a1a1aa;
}
.np {
  color: red;
}
.noteClose {
  position: relative;
  left: 110px;
  color: red;
  cursor: pointer;
}
.full {
  height: 100vh;
}

.div {
  position: relative;
  top: 85px;
}
.h2 {
  text-align: center;
  font-size: 19px;
  color: red;
  position: relative;
  top: 10px;
  z-index: 1;
  text-transform: uppercase;
}

.card {
  display: flex;
  left: 15%;
  width: 70%;
  flex-direction: column;
  background-color: #a1a1aa;
  position: relative;
  padding: 50px 50px 20px 90px;
  border-radius: 20px;
  margin-top: 35px;
}
.card:hover {
  background-color: #88888e;
}
.h4 {
  padding-top: 10px;
}
.p {
  padding-top: 5px;
}

.button {
  display: flex;
  justify-content: space-around;
  margin: 20px 5px 5px 5px;
  gap: 40px;
  position: relative;
  left: -30px;
  width: 100%;
}
.button2 {
  display: flex;
  justify-content: space-around;
  margin: 20px 5px 5px 5px;
  gap: 40px;
  position: relative;
  width: 100%;
}
.b {
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: whitesmoke;
  font-weight: 600;
  text-transform: uppercase;
}
#b1 {
  color: red;
}
#b2 {
  color: rgb(0, 255, 0);
}
#b1:hover {
  color: white;
  background-color: red;
}
#b2:hover {
  color: white;
  background-color: rgb(0, 255, 0);
}
.update {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #a1a1aa;
  padding: 30px 40px 20px 40px;
  color: black;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 1px solid white;
}
.upback {
  position: relative;
  left: -30px;
  top: -20px;
  cursor: pointer;
  color: white;
  border: 1px solid white;
}
.label {
  margin-left: 5px;
}
.input {
  height: 25px;
  outline: none;
  border-radius: 7px;
  border: none;
  text-align: center;
  margin-top: 3px;
  width: 100%;
}
.mp {
  color: red;
}
.button2 {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin: 20px 0 10px 0;
}
.success {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  padding: 10px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: #a1a1aa;
}
.ok {
  text-transform: uppercase;
  padding: 7px 40px 7px 40px;
  position: relative;
  left: 25%;
  margin: 5px;
  font-weight: bold;
  color: rgb(0, 255, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.ok:hover {
  color: white;
  background-color: rgb(0, 255, 0);
}
.officerImage {
  width: 180px;
  height: 180px;
  position: relative;
  left: -20px;
  border-radius: 20px;
}

@media screen and (min-width: 1200px) {
  .whole {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }
  .card {
    left: 12%;
    width: 23%;
    height: 400px;
  }
  .h2 {
    text-align: center;
  }
  .message {
    padding: 60px;
  }
  .noteClose {
    left: 500px;
  }
}
