* {
  margin: 0;
  padding: 0;
}
.form {
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px 0 20px 0;
  transform: translate(-50%, -50%);
  background-color: skyblue;
  color: black;
  border-radius: 15px;
}
.p {
  color: red;
  position: relative;
  text-align: center;
  top: 5px;
  left: 2px;
  margin: 5px 0 0 0;
}
#p {
  top: -5px;
}
.h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 19px;
  font-style: normal;
  margin-top: -15px;
}

.h4 {
  text-align: center;
  font-size: 16px;
  width: 80%;
  margin-left: 25px;
}

.label {
  position: relative;
  left: 15%;
  top: 20px;
  font-size: 17px;
}

.input {
  top: 30px;
  width: 70%;
  height: 27px;
  border-radius: 5px;
  position: relative;
  left: 14%;
  border: none;
  outline: none;
  text-align: center;
}

.icons {
  position: relative;
  top: 3px;
  left: 47px;
  color: rgb(79, 158, 158);
}
.button2 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  top: 20px;
  margin-bottom: 20px;
  height: 50px;
  width: 80%;
  left: 9%;
  gap: 30px;
}
.but {
  width: 90px;
  height: 30px;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}
#b1 {
  color: red;
  background-color: white;
}
#b2 {
  color: rgb(0, 255, 0);
  background-color: white;
}
.span {
  position: absolute;
  top: 35px;
}
#b1:hover {
  color: white;
  background-color: red;
}
#b2:hover {
  color: white;
  background-color: rgb(0, 255, 55);
}
