.light {
  position: absolute;
  top: 17px;
  z-index: 1;
  right: 15px;
  padding: 1px;
  cursor: pointer;
  border-radius: 25px;
  z-index: 2;
}
.dark {
  position: absolute;
  top: 17px;
  z-index: 1;
  right: 15px;
  padding: 1px;
  border-radius: 25px;
  cursor: pointer;
  z-index: 2;
}
