* {
  padding: 0;
  margin: 0;
}
.header {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: rgb(151, 209, 232);
}

.menu {
  position: relative;
  top: 10px;
  left: 10px;
  padding: 5px;
  cursor: pointer;
}

.search {
  position: relative;
  top: -2px;
  left: 75px;
  width: 55%;
  border-radius: 15px;
  height: 27px;
  font-size: 12px;
  text-align: center;
  font-style: italic;
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .search {
    left: 20%;
  }
}
