* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.whole {
  height: 98.7vh;
}
.h2 {
  text-align: center;
  margin: 10px;
  font-size: 19px;
  color: red;
  position: relative;
  top: 65px;
  text-transform: uppercase;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px 20px 20px;
  padding: 20px;
  height: 84vh;
  border-radius: 20px;
  overflow: scroll;
  position: relative;
  top: 65px;
}
.card {
  background-color: skyblue;
  width: 80%;
  position: relative;
  left: 10%;
  padding: 20px;
  border-radius: 20px;
}
.card:hover {
  background-color: rgb(108, 175, 202);
}
.img {
  border-radius: 10px;
  position: relative;
  left: 25%;
}
.h4 {
  text-align: center;
  text-transform: uppercase;
  margin: 5px;
}
.p {
  position: relative;
  line-height: 20px;
  left: 25%;
  width: 50%;
}

@media screen and (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    justify-content: space-around;
  }
  .card {
    position: relative;
    left: 0px;
    padding: 30px;
    width: 350px;
  }
  .img {
    position: relative;
    left: 5%;
    width: 180px;
  }
  .h4 {
    text-align: start;
    margin-left: 15px;
  }
  .p {
    position: relative;
    left: 15px;
  }
}
