* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logout {
  background-color: rgb(134, 196, 221);
  width: 300px;
  height: 150px;
  position: absolute;
  top: 250px;
  left: 21.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 30px 10px 20px 10px;
  border-radius: 30px;
  border: 1px solid rgb(203, 203, 203);
}
.logout .h3l {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 6px;
  font-size: 17px;
}
.logout .b {
  position: relative;
  width: 40%;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 600;
  height: 30px;
  border: none;
  letter-spacing: 1px;
  cursor: pointer;
}
.logout #b1 {
  color: rgb(26, 255, 1);
  background-color: whitesmoke;
  top: 20px;
  left: -65px;
}
.logout #b2 {
  color: rgb(255, 12, 12);
  background-color: whitesmoke;
  position: relative;
  top: -10px;
  left: 65px;
}
#b1:hover {
  color: whitesmoke;
  background-color: rgb(6, 248, 58);
}
#b2:hover {
  color: whitesmoke;
  background-color: red;
}
.aside {
  display: flex;
  position: fixed;
  flex-direction: column;
  z-index: 2;
  width: 140px;
  position: absolute;
  top: 15vh;
  height: 75vh;
  background-color: rgb(158, 223, 249);
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border: 1px solid rgb(121, 119, 119);
}

.aside .linkitems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  top: 5%;
  gap: 10px;
  padding: 7px;
}

.aside .linkitems .link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  height: 40px;
  color: #181818;
  margin-top: 10px;
  padding: 5px;
  background-color: skyblue;
  border-radius: 10px;
  color: white;
}
.aside .linkitems .link:hover {
  border-radius: 10px;
  background-color: rgb(146, 209, 234);
}

aside .linkitems .link .h3 {
  font-size: 16px;
  margin: -23px 0 0 18px;
  display: inline;
  text-align: center;
  font-style: italic;
}

.aside .linkitems #last {
  position: relative;
}

@media screen and (min-width: 1200px) {
  .logout {
    left: 37.8%;
  }
}
